<!-- <div class="alert alert-warning alert-dismissible fade show dnone" id="alertid" role="alert">
    <%= errmsg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="alert alert-success alert-dismissible fade show dnone" id="alertid2" role="alert">
    <%= successmsg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div> -->

--

<!-- <script>
          if("<%= fd_fav %>" == 1){
            document.getElementById('fd_fav_img').src = '/icons/star1.png'
            document.getElementById('fd_fav_words').innerText = '즐겨찾기 해제'
          }else if("<%= fd_fav %>" == 0){
            document.getElementById('fd_fav_img').src = '/icons/star0.png'
            document.getElementById('fd_fav_words').innerText = '즐겨찾기 등록'
          }
        </script> -->

if("<%= errmsg %>"){ document.getElementById('alertid').style = "display:block"
} if("<%= successmsg %>"){ document.getElementById('alertid2').style =
"display:block" }

<script>
  const toastLive = document.getElementById("liveToast");
  const closeToast = document.getElementById("closeToast");
  const toastMsg = document.getElementById("toastMsg");
  closeToast.addEventListener(
    "click",
    () => (toastLive.style = "display:none")
  );
  if ("<%= toast %>" == 0) {
    toastLive.style = "display:block";
    toastMsg.innerText = "즐겨찾기가 해제되었습니다";
  } else if ("<%= toast %>" == 1) {
    toastLive.style = "display:block";
    toastMsg.innerText = "즐겨찾기에 등록되었습니다";
  } else if ("<%= toast %>" == 2) {
    toastLive.style = "display:block";
    toastMsg.innerText = "공유가 취소되었습니다";
  } else if ("<%= toast %>" == 3) {
    toastLive.style = "display:block";
    toastMsg.innerText = "공유하였습니다";
  }
</script>

-=-= if("<%= fd_sh %>" == 1){ document.getElementById('fd_sh_words').innerText =
'공유 해제하기'; document.getElementById('sharing_fd_Msg').innerText = '폴더
공유를 취소하시겠습니까?'; document.getElementById('sharing_fd_info').style =
'display:none'; document.getElementById('sharing_fd_Btn').value = '공유취소';
}else if("<%= fd_sh %>" == 0){ document.getElementById('fd_sh_words').innerText
= '폴더 공유하기'; document.getElementById('sharing_fd_Btn').value = '폴더
공유'; document.getElementById('sharing_fd_Msg').innerText = '폴더를 회원들과
공유 하시겠습니까?'; document.getElementById('sharing_fd_Msg2').innerText =
'알아보기 쉬운 폴더명으로 설정해주세요'; } if("<%- modal %>" == "delete"){
setTimeout(() => { document.getElementById("hiddenmodalbtn2").click(); }, 100);
}else if("<%- modal %>" == "change"){ setTimeout(() => {
document.getElementById("hiddenmodalbtn").click(); }, 100); }
