<div class="logonpage h-100">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand brand_tab" href="/" id="titleid">94VOCA</a>
    <ul class="nav nav-tabs justify-content-center nav-fill">
      <li class="nav-item" id="voca_tab_click_id">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-book"
          viewBox="0 0 16 16"
        >
          <path
            d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
          />
        </svg>
      </li>
      <li class="nav-item" data-bs-toggle="modal" data-bs-target="#searchmodal">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </li>
      <li
        class="dropdown nav-item"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        id="drop_menu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li>
            <a
              class="dropdown-item more_drop"
              data-bs-toggle="modal"
              data-bs-target="#settModal"
              id="settmodalbtn"
              >설정</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a
              class="dropdown-item more_drop"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasTop"
              aria-controls="offcanvasTop"
              id="fav_load_btn"
              >즐겨찾기</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a
              class="dropdown-item more_drop"
              onclick="location.href='/voca/shared_page'"
              >공유마당</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a
              class="dropdown-item more_drop"
              data-bs-toggle="modal"
              data-bs-target="#supportModal"
              id="suppmodalbtn"
              >문의하기</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div
    class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3"
  >
    <div
      id="liveToast"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto" id="toastMsg"></strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
          id="closeToast"
        ></button>
      </div>
    </div>
  </div>
  <div class="main h-100"><%-include(`${content}`) %></div>
</div>

<!-- 모달 -->

<div
  class="offcanvas offcanvas-top offcanvas_top"
  tabindex="-1"
  id="offcanvasTop"
  data-bs-scroll="true"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasTopLabel">즐겨찾기</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      id="fav_mod_cancle"
    ></button>
  </div>
  <div class="offcanvas-body container-fluid">
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#fd-tab-pane"
          type="button"
          role="tab"
          aria-controls="home-tab-pane"
          aria-selected="true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-folder2-open"
            viewBox="0 0 16 16"
          >
            <path
              d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"
            />
          </svg>
          폴더
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#fl-tab-pane"
          type="button"
          role="tab"
          aria-controls="profile-tab-pane"
          aria-selected="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-journal-text"
            viewBox="0 0 16 16"
          >
            <path
              d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"
            />
            <path
              d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"
            />
            <path
              d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"
            />
          </svg>
          단어장
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="text-center tab-pane fade show active"
        id="fd-tab-pane"
        role="tabpanel"
        aria-labelledby="home-tab"
        tabindex="0"
      >
        <div class="container-fluid text-center">
          <div class="voca_file_list row row-cols-auto" id="fav_fd_area"></div>
        </div>
      </div>
      <div
        class="text-center tab-pane fade"
        id="fl-tab-pane"
        role="tabpanel"
        aria-labelledby="profile-tab"
        tabindex="0"
      >
        <div class="container-fluid text-center">
          <div class="voca_file_list row row-cols-auto" id="fav_fl_area"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="modal fade" id="searchmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">단어or표현 검색</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ul
            class="nav nav-tabs nav-fill mb-3"
            role="tablist"
            id="mySearchTab"
          >
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="my-search-tab"
                data-bs-toggle="tab"
                data-bs-target="#my-search-tab-pane"
                type="button"
                role="tab"
                aria-controls="my-search-tab-pane"
                aria-selected="true"
              >
                계정내 검색
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="sha-search-tab"
                data-bs-toggle="tab"
                data-bs-target="#sha-search-tab-pane"
                type="button"
                role="tab"
                aria-controls="sha-search-tab-pane"
                aria-selected="false"
              >
                공유마당 검색
              </button>
            </li>
          </ul>
          <div class="tab-content" id="mySearchTabContent">
            <div
              class="tab-pane fade show active"
              id="my-search-tab-pane"
              role="tabpanel"
              aria-labelledby="my-search-tab"
              tabindex="0"
            >
              <form action="/voca/my_search" method="post">
                <div class="input-group w100">
                  <span class="input-group-text" id="basic-addon1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-search"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                      ></path>
                    </svg>
                  </span>
                  <input
                    type="text"
                    class="form-control is-val"
                    placeholder="검색할 단어or표현을 입력하세요"
                    aria-label="Input group example"
                    aria-describedby="basic-addon1"
                    name="voca"
                    id="searchid"
                    minlength="1"
                    maxlength="101"
                  />
                  <div class="invalid-feedback">1~100자 사이로 입력하세요</div>
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    취소
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    id="searchbtn"
                    disabled
                  >
                    검색
                  </button>
                </div>
              </form>
            </div>
            <div
              class="tab-pane fade"
              id="sha-search-tab-pane"
              role="tabpanel"
              aria-labelledby="sha-search-tab"
              tabindex="0"
            >
              <form action="/voca/sha_search" method="post">
                <div class="input-group w100">
                  <span class="input-group-text" id="basic-addon1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-search"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                      ></path>
                    </svg>
                  </span>
                  <input
                    type="text"
                    class="form-control is-val"
                    placeholder="검색할 단어or표현을 입력하세요"
                    aria-label="Input group example"
                    aria-describedby="basic-addon1"
                    name="voca"
                    id="shasearchid"
                    minlength="1"
                    maxlength="101"
                  />
                  <div class="invalid-feedback">1~100자 사이로 입력하세요</div>
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    취소
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    id="shasearchbtn"
                    disabled
                  >
                    검색
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="settModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="card border-secondary mb-3 sett_card modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5">회원 정보</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="card-body text-secondary">
        <h7 class="card-title sett_card_content" id="user_email_area"></h7>
        <h7 class="card-title sett_card_content" id="user_nick_area"></h7>
        <h7 class="card-title sett_card_content" id="user_regi_area"></h7>
        <button
          type="button"
          class="btn btn-outline-secondary sett_btn"
          id="logout_btn_id"
        >
          로그아웃
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary sett_btn"
          data-bs-toggle="modal"
          data-bs-target="#settnickmodal"
        >
          닉네임 변경
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary sett_btn"
          data-bs-toggle="modal"
          data-bs-target="#settpwdmodal"
        >
          비밀번호 변경
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary sett_btn"
          data-bs-toggle="modal"
          data-bs-target="#deleteauthmodal"
        >
          회원탈퇴
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="settnickmodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">변경할 닉네임을 입력하세요</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          id="nickinputid"
          type="text"
          name="nickname"
          class="form-control is-val w100"
          maxlength="11"
        />
        <div class="invalid-feedback" id="mod_nick_msg">
          닉네임 형식을 확인하세요(2~10글자의 영어,숫자,한글)
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          id="mod_nick_cancle"
        >
          취소
        </button>
        <input
          type="button"
          value="변경하기"
          class="btn btn-primary"
          id="nickinputbtn"
          disabled
        />
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="settpwdmodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">비밀번호 변경</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="p-2">
          <li class="row mb-3">
            <div class="col-3 p-0 mt-1">현재 비밀번호</div>
            <div class="col-9 p-0">
              <input
                type="password"
                class="w-100 form-control is-val"
                id="now_pwd_id"
                minlength="6"
                maxlength="19"
              />
              <div class="invalid-feedback">비밀번호를 확인하세요</div>
              <input type="hidden" name="modal" value="change" />
            </div>
          </li>
          <li class="row">
            <div class="col-3 p-0 mt-1">새 비밀번호</div>
            <div class="col-9 p-0">
              <input
                type="password"
                id="pwdinputid"
                class="w-100 form-control is-val"
                minlength="6"
                maxlength="19"
              />
              <div class="invalid-feedback">
                비밀번호 형식을 확인하세요(6~18자 영문,숫자 조합)
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          id="mod_pwd_cancle"
        >
          취소
        </button>
        <input
          type="button"
          value="확인"
          class="btn btn-primary"
          id="mod_pwd_btn"
        />
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteauthmodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="del_modal_title">
          현재 비밀번호를 입력하세요
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="delete_modal_first">
          <input
            type="password"
            class="w100 is-val form-control"
            name="password"
            minlength="6"
            maxlength="19"
            id="del_pwd_id"
          />
          <div class="invalid-feedback">비밀번호를 확인하세요</div>
        </div>
        <div id="delete_modal_second" class="dnone">
          정말 계정을 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            취소
          </button>
          <input
            type="button"
            value="확인"
            class="btn btn-primary"
            id="delete_check_btn"
          />
          <form action="/signpage/delete_member" method="post">
            <input
              type="submit"
              value="탈퇴"
              class="btn btn-primary dnone"
              id="delete_form_btn"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="supportModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="del_modal_title">문의하기</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs nav-fill mb-3" id="supportTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="support-tab"
              data-bs-toggle="tab"
              data-bs-target="#support-tab-pane"
              type="button"
              role="tab"
              aria-controls="support-tab-pane"
              aria-selected="true"
            >
              문의하기
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="support-list-tab"
              data-bs-toggle="tab"
              data-bs-target="#support-list-tab-pane"
              type="button"
              role="tab"
              aria-controls="support-list-tab-pane"
              aria-selected="false"
            >
              문의내역
            </button>
          </li>
        </ul>
        <div class="tab-content sha_tab me-4">
          <div
            class="col-9 p-0 w100 tab-pane fade show active"
            id="support-tab-pane"
            role="tabpanel"
            tabindex="0"
          >
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control is-val h-25"
                placeholder="제목을 입력해주세요"
                id="supporttitleinputid"
                minlength="1"
                maxlength="51"
              />
              <label for="supporttitleinputid">제목을 입력해주세요</label>
              <div class="invalid-feedback">50자 이내로 입력하세요</div>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control is-val"
                placeholder="문의하실 내용을 입력해주세요"
                id="supportinputid"
                minlength="1"
                maxlength="1001"
              ></textarea>
              <label for="supportinputid">문의하실 내용을 입력해주세요</label>
              <div class="invalid-feedback">1~1000자 사이로 입력하세요</div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="support-list-tab-pane"
            role="tabpanel"
            tabindex="0"
          >
            <div class="accordion accordion-flush" id="support_accordion"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            id="support_cancle"
          >
            취소
          </button>
          <input
            type="button"
            value="확인"
            class="btn btn-primary"
            id="supportinputbtn"
            disabled
          />
          <input
            type="button"
            value="확인"
            class="btn btn-primary dnone"
            id="supporttitleinputbtn"
            disabled
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="delSupportModal"
  tabindex="-1"
  aria-labelledby="delSupportModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          정말 삭제하시겠습니까?
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            id="cancle_delete_support"
          >
            취소
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="delete_support_button"
          >
            삭제
          </button>
          <input type="hidden" id="selectedsupport" />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.onresize = () => {
    if (window.innerWidth < 480) {
      document
        .getElementById("drop_menu")
        .classList.replace("dropdown", "dropup");

      document
        .getElementById("fav_fl_area")
        .classList.remove("row", "row-cols-auto");
    } else {
      document
        .getElementById("drop_menu")
        .classList.replace("dropup", "dropdown");

      document
        .getElementById("fav_fl_area")
        .classList.add("row", "row-cols-auto");
    }
  };

  if (window.innerWidth < 480) {
    document
      .getElementById("drop_menu")
      .classList.replace("dropdown", "dropup");

    document
      .getElementById("fav_fl_area")
      .classList.remove("row", "row-cols-auto");
  }

  const isValid = (what, where, length) => {
    switch (what) {
      case "text":
        if (
          document.getElementById(where + "id").value.length > length ||
          document.getElementById(where + "id").value.length == 0
        ) {
          document
            .getElementById(where + "id")
            .classList.replace("is-val", "is-invalid");
          document.getElementById(where + "btn").disabled = true;
        } else {
          document
            .getElementById(where + "id")
            .classList.replace("is-invalid", "is-val");
          document.getElementById(where + "btn").disabled = false;
        }
        break;

      case "nick":
      case "pwd":
        if (what == "nick") {
          formtesting = RegExp(
            /^(?=.*[a-zA-Z0-9가-힣])[a-zA-Z0-9가-힣]{2,10}$/
          );
        } else if (what == "pwd") {
          formtesting = RegExp(/^[a-zA-Z0-9]{6,18}$/);
        }
        if (
          !formtesting.test(document.getElementById(what + "inputid").value)
        ) {
          document
            .getElementById(what + "inputid")
            .classList.replace("is-val", "is-invalid");
          document.getElementById(what + "inputbtn").disabled = true;
        } else {
          document
            .getElementById(what + "inputid")
            .classList.replace("is-invalid", "is-val");
          document.getElementById(what + "inputbtn").disabled = false;
        }
        break;
    }
  };

  const toastLive = document.getElementById("liveToast");
  const closeToast = document.getElementById("closeToast");
  const toastMsg = document.getElementById("toastMsg");

  closeToast.addEventListener(
    "click",
    () => (toastLive.style = "display:none")
  );

  document.getElementById("voca_tab_click_id").addEventListener("click", () => {
    location.href = "/voca";
  });

  document.getElementById("logout_btn_id").addEventListener("click", () => {
    location.href = "/signpage/logout";
  });
  document.getElementById("searchid").addEventListener("keyup", () => {
    isValid("text", "search", 100);
  });
  document.getElementById("shasearchid").addEventListener("keyup", () => {
    isValid("text", "shasearch", 100);
  });
  document.getElementById("nickinputid").addEventListener("keyup", () => {
    isValid("nick");
  });
  document.getElementById("pwdinputid").addEventListener("keyup", () => {
    isValid("pwd");
  });

  document.getElementById("supportinputid").addEventListener("keyup", () => {
    isValid("text", "supportinput", 1000);
  });

  document
    .getElementById("supporttitleinputid")
    .addEventListener("keyup", () => {
      isValid("text", "supporttitleinput", 50);
    });

  document.getElementById("settmodalbtn").addEventListener("click", () => {
    fetch("/voca/get_user")
      .then((res) => res.json())
      .then((user) => {
        document.getElementById(
          "user_email_area"
        ).innerText = `이메일 : ${user.email}`;
        document.getElementById(
          "user_nick_area"
        ).innerText = `닉네임 : ${user.nickname}`;
        document.getElementById(
          "user_regi_area"
        ).innerText = `가입날짜 : ${user.registered}`;
        document.getElementById("nickinputid").placeholder = user.nickname;
      });
  });

  document.getElementById("mod_pwd_btn").addEventListener("click", () => {
    fetch("/signpage/password_check", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        password: document.getElementById("now_pwd_id").value,
      }),
    })
      .then((res) => res.json())
      .then((checked) => {
        if (checked == 0) {
          document
            .getElementById("now_pwd_id")
            .classList.replace("is-val", "is-invalid");
        } else {
          fetch("/signpage/modify_password", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              password: document.getElementById("pwdinputid").value,
            }),
          }).then((res) => {
            toastLive.style = "display:block";
            toastMsg.innerText = "비밀번호가 변경되었습니다";
            document.getElementById("mod_pwd_cancle").click();
            document.getElementById("settmodalbtn").click();
            document.getElementById("drop_menu").click();
          });
        }
      });
  });
  document.getElementById("nickinputbtn").addEventListener("click", () => {
    fetch("/signpage/modify_nick_check", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        nickname: document.getElementById("nickinputid").value,
      }),
    })
      .then((res) => res.json())
      .then((checked) => {
        if (checked == 0) {
          fetch("/signpage/modify_nickname", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              nickname: document.getElementById("nickinputid").value,
            }),
          }).then((res) => {
            toastLive.style = "display:block";
            toastMsg.innerText = "닉네임이 변경되었습니다";
            document.getElementById("mod_nick_cancle").click();
            document.getElementById("settmodalbtn").click();
            document.getElementById("drop_menu").click();
          });
        } else {
          document.getElementById("mod_nick_msg").innerText =
            "이미 존재하는 닉네임 입니다";
          document
            .getElementById("nickinputid")
            .classList.replace("is-val", "is-invalid");
        }
      });
  });
  document.getElementById("delete_check_btn").addEventListener("click", () => {
    fetch("/signpage/password_check", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        password: document.getElementById("del_pwd_id").value,
      }),
    })
      .then((res) => res.json())
      .then((checked) => {
        if (checked == 0) {
          document
            .getElementById("del_pwd_id")
            .classList.replace("is-val", "is-invalid");
        } else {
          document.getElementById("delete_modal_first").classList.add("dnone");
          document
            .getElementById("delete_modal_second")
            .classList.remove("dnone");
          document.getElementById("delete_check_btn").classList.add("dnone");
          document.getElementById("delete_form_btn").classList.remove("dnone");
          document.getElementById("del_modal_title").innerText = "회원탈퇴";
        }
      });
  });

  const loadFavorites = () => {
    fetch("/voca/load_fav")
      .then((res) => res.json())
      .then((fav) => {
        fav_file = fav[0];
        fav_folder = fav[1];
        let fav_filelist = "";
        let fav_folderlist = "";
        for (let i = 0; i < fav_folder.length; i++) {
          fav_folderlist += `
        <div class="dropdown text-center m-2">
            <button type="button" class="btn dropdown-toggle fav_voca_folder" data-bs-toggle="dropdown" aria-expanded="false" onclick="loadMoreFav('${fav_folder[i].folder_id}','${i}')">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
              </svg>
              ${fav_folder[i].folder_name}
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" onclick="unFavFolder('${fav_folder[i].folder_id}')">
                  <img src="/icons/star0.png" class="icon3" />
                  즐겨찾기 해제
                </button>
              </li>
              <div id="drop_fav${i}">
              </div>
            </ul>
        </div>
    `;
        }
        for (let i = 0; i < fav_file.length; i++) {
          fav_filelist += `
        <div class="fav_voca_file text-center m-2">                    
          <div class="fileTitle">
            <button class="icon_btn cursor" onclick="unFavFile('${fav_file[i].file_id}')">
              <img src="/icons/star1.png" class="icon" />
            </button>
            <h6>${fav_file[i].file_name}</h6>
          </div>
        <div class="filebtnRow">
          <form action="/voca/voca_load" method="post" name="loadingvoca">
            <input type="hidden" name="fl_id" value="${fav_file[i].file_id}" />
            <input type="hidden" name="fd_id" value="${fav_file[i].folder_id}" />
            <input type="submit" class="btn btn-outline-secondary file_btn" value="열기" />
          </form>
          <form action="/voca/voca_study" method="post" name="loadingvoca">
            <input type="hidden" name="fl_id" value="${fav_file[i].file_id}" />
            <input type="hidden" name="fd_id" value="${fav_file[i].folder_id}" />
            <input type="submit" class="btn btn-outline-secondary file_btn" value="공부" />
          </form>
        </div>
      </div>
      `;
        }
        document.getElementById("fav_fl_area").innerHTML = fav_filelist;
        document.getElementById("fav_fd_area").innerHTML = fav_folderlist;
      });
  };

  document
    .getElementById("fav_load_btn")
    .addEventListener("click", loadFavorites);

  const loadMoreFav = (fd_id, i) => {
    fetch("/voca/load_fav_file", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: fd_id,
      }),
    })
      .then((res) => res.json())
      .then((list) => {
        let fav_filelist = "";
        for (let i = 0; i < list.length; i++) {
          fav_filelist += `
          <li><hr class="dropdown-divider"></li>
          <li>
            <form action="/voca/voca_load" method="post" name="loadingvoca">
              <input type="hidden" name="fl_id" value="${list[i].file_id}" />
              <input type="hidden" name="fd_id" value="${list[i].folder_id}" />
              <button class="dropdown-item" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                  <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                  <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                  <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                </svg>
              ${list[i].file_name}
              </button>
            </form>
          </li>
          
          `;
        }
        document.getElementById("drop_fav" + i).innerHTML = fav_filelist;
      });
  };

  const unFavFolder = (fd_id) => {
    fetch("/voca/favorites_folder", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: fd_id,
      }),
    }).then((res) => {
      toastLive.style = "display:block";
      toastMsg.innerText = "즐겨찾기가 해제되었습니다";
      loadFavorites();
    });
  };

  const unFavFile = (fl_id) => {
    fetch("/voca/favorites_file", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fl_id: fl_id,
      }),
    }).then((res) => {
      toastLive.style = "display:block";
      toastMsg.innerText = "즐겨찾기가 해제되었습니다";
      loadFavorites();
    });
  };

  document.getElementById("support-list-tab").addEventListener("click", () => {
    fetch("/voca/load_support")
      .then((res) => res.json())
      .then((list) => {
        document.getElementById("supportinputbtn").style = "display:none";
        let sup_list = "";
        for (let i = 0; i < list.length; i++) {
          if (list[i].checked == 1) {
            readed = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
            </svg>`;
          } else {
            readed = `
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-dash" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M5.5 6.5A.5.5 0 0 1 6 6h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
              <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
            </svg>
            `;
          }
          sup_list += `
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#support_list_item${i}"
                  aria-expanded="false"
                  aria-controls="support_list_item${i}"
                >
                  <div class=text-truncate>${readed} 문의 제목 : ${list[i].title}</div>
                </button>
              </h2>
              <div
                id="support_list_item${i}"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <div class="position-relative mb-3"><h5>문의 내용</h5>
                    <button type="button" class="btn btn-danger position-absolute top-0 end-0" data-bs-toggle="modal" data-bs-target="#delSupportModal" onclick="delSupport('${list[i].support_id}')">삭제</button></div>
                  <div class="mb-5 text-break">${list[i].message}</div>
                  <div class="mb-5">문의 날짜 : ${list[i].received}</div>
                  <div>답변 : ${list[i].answer}</div>
                  
                </div>
              </div>
            </div>
          `;
        }
        document.getElementById("support_accordion").innerHTML = sup_list;
      });
  });

  document.getElementById("support-tab").addEventListener("click", () => {
    document.getElementById("supportinputbtn").style = "display:block";
  });

  document.getElementById("supportinputbtn").addEventListener("click", () => {
    fetch("/voca/create_support", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        title: document.getElementById("supporttitleinputid").value,
        message: document.getElementById("supportinputid").value,
      }),
    }).then((res) => {
      document.getElementById("supporttitleinputid").value = "";
      document.getElementById("supportinputid").value = "";
      toastLive.style = "display:block";
      toastMsg.innerText = "문의가 접수 되었습니다";
      document.getElementById("support_cancle").click();
    });
  });

  document
    .getElementById("delete_support_button")
    .addEventListener("click", () => {
      fetch("/voca/delete_support", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          id: document.getElementById("selectedsupport").value,
        }),
      }).then((res) => {
        toastLive.style = "display:block";
        toastMsg.innerText = "문의가 삭제 되었습니다";
        document.getElementById("cancle_delete_support").click();
      });
    });

  const delSupport = (id) => {
    document.getElementById("selectedsupport").value = id;
  };

  const listen = (text) => {
    fetch("/voca/audio", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        audio: text,
      }),
    }).then((res) => {
      let audio = new Audio(`/audio/${text}.mp3`);
      audio.load();
      audio.play();
      setTimeout(() => {
        fetch("/voca/audio_delete", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            audio: text,
          }),
        });
      }, 100);
    });
  };
</script>
