<link rel="stylesheet" type="text/css" id="style_id" />
<script>
  if (
    !window.localStorage.getItem("dark_mode") ||
    window.localStorage.getItem("dark_mode") == "bright"
  ) {
    did("style_id").href = "/stylesheets/index.css";
  } else {
    did("style_id").href = "/stylesheets/dark_index.css";
  }
</script>
<div class="page">
  <nav class="navbar navbar-expand-lg border border-dark">
    <a class="navbar-brand brand_tab text-light ps-3" href="/">94VOCA</a>
    <ul class="nav nav-tabs justify-content-center nav-fill border-0">
      <a href="/" class="nav_tab_item">
        <li class="nav-item p-4">
          <i class="bi bi-house text-light fs-5"></i>
        </li>
      </a>
      <a href="/voca/folder" class="nav_tab_item">
        <li class="nav-item p-4">
          <i class="bi bi-folder text-light fs-5"></i>
        </li>
      </a>
      <a
        data-bs-toggle="modal"
        data-bs-target="#componentModal"
        class="cursor nav_tab_item"
        id="open_component"
      >
        <li class="nav-item p-4">
          <i class="bi bi-list text-light fs-5"></i>
        </li>
      </a>
    </ul>
  </nav>

  <!-- 토스트 -->
  <div
    class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3"
  >
    <div
      id="liveToast"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto" id="toastMsg"></strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
          id="closeToast"
        ></button>
      </div>
    </div>
  </div>

  <div class="main"><%-include(`${content}`) %></div>
</div>

<!-- 모달 -->
<%-include('index_modal.ejs') %>

<script type="text/javascript" src="/javascripts/index.js"></script>
