.authpage {
  display: grid;
  place-items: center;
  min-height: 100%;
}

.authwrap {
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid lightgray;
  width: 460px;
  background-color: white;
}

.authinput,
.authbtn {
  margin: 5px 5px 5px 0px;
}

.sauthbtn {
  margin: 5px 5px 5px 0px;
  cursor: pointer;
}

.logoimg {
  width: 50%;
  height: 50%;
}

#klbtnid {
  background-color: #fee500;
}

#klbtnid:hover {
  background-color: #eed70d;
}

#kakao_logo {
  width: 18px;
  height: 18px;
}

#google_logo {
  width: 27px;
  height: 21px;
}

@media only screen and (max-width: 480px) {
  .authwrap {
    height: 95%;
    width: 95%;
    margin: 0;
    border: 0px;
  }

  .authnotice {
    font-size: 20px;
  }

  .sauthbtn {
    width: 80%;
  }
}
