@import url("logoffstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}

.wrapper {
  height: 100%;
}

main {
  position: relative;
  height: 100%;
  min-height: 600px;
}

.dnone {
  display: none;
}

.din {
  display: inline;
}

.w100 {
  width: 100%;
}

.cursor {
  cursor: pointer;
}

li {
  list-style: none;
}

.inline {
  display: inline;
}

#loading {
  position: fixed;
  z-index: 1;
  top: 50%;
  right: 50%;
}

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transform: translateY(6rem) scale(0.93);
  transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0) scale(1);
}
[data-scroll="out"] {
  opacity: 0;
}
